<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>AngularJS Filters</title>
  </head>
  <body>
    <div>
      <h1>Filters</h1>

      <div ng-controller="FilterCtrl as filterc">
        <input type="text" ng-model="search.name" />

        <p ng-repeat="person in filterc.people | filter: search">
          {{ person.name }}
        </p>
      </div>
    </div>

    <script src="https://code.angularjs.org/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>

